{% extends 'base.html' %}
{% block title %} Detail View {% endblock %}
{% block content %} 
            <div class="card">
                <div class="card-body">
                    <h2 class="cartd-title">{{ task.objective }}</h2>
                    <h6 class="card-title">status: {{ task.status }}</h3>
                    <h6 class="card-title">{{ task.dead_line }}</h3>
                    <p class="card-text">{{ task.description }}</p>
                </div>
            </div>
{% endblock %}